# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log